{% extends "public/members/base.html" %}
{% load i18n %}

{% block title %}{% trans "Member list" %}{% endblock %}
{% block headline %}{% trans "Member list" %}{% endblock %}

{% block public_content %}

{% if members %}
<table class="table table-sm">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            {% if config.can_see_other_members == member_view_level.NAME_AND_CONTACT %}
                <th>{% trans "E-mail" %}</th>
                <th>{% trans "Address" %}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
            <tr>
                <td>{{member.name}}</td>
                {% if config.can_see_other_members == member_view_level.NAME_AND_CONTACT %}
                    <td>{{ member.email }}</td>
                    <td><address style="white-space: pre">{{member.address}}</address></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-primary">{% blocktrans trimmed %}
Currently no members have consented to their information being shared.
{% endblocktrans %}</div>
{% endif %}

{% include "office/pagination.html" %}

{% if member_undisclosed and members %}
<div class="alert alert-secondary">{% blocktrans with count=member_undisclosed trimmed %}
Another {{count}} members have not consented to their information being shared.
{% endblocktrans %}</div>
{% endif %}

{% endblock %}
