{% extends "office/base_headline.html" %}
{% load i18n %}

{% block headline %}{% trans "Permission denied" %}{% endblock %}

{% block content %}
    <div class="alert alert-danger">
        {% if exception %}
            {{ exception }}
        {% else %}
            {% trans "You do not have permission to access this page. It is restricted to superusers." %}
        {% endif %}
    </div>
    <p>
        <a class="btn btn-outline-primary" href="{% url "office:dashboard" %}">
            <span class="fa fa-dashboard"></span> {% trans "Back to the dashboard" %}
        </a>
    </p>
{% endblock %}
