[filesystem]
data = /var/byro/data
media = /var/byro/data/media
logs = /var/byro/data/logs

[site]
debug = False
url = http://byro.mydomain.com

[database]
name = byro
user = byro
password = byro
host = db
port = 5432

[mail]
from = admin@byro
# by default, this is the IP address of your docker host, as seen from byro
host = MAIL_HOST
port = 25
user = admin
password = something
tls = False
ssl = True

[oidc]
# Leave issuer url empty to disable OIDC login
issuer_url = https://auth.example.com/application/o/byro/
client_id = byro
client_secret = change-me
# Restrict login to members of this group (leave empty to allow any authenticated user).
admin_group = byro-admins
# Set to true to automatically create a local account for new OIDC users.
auto_create_account = false
# Claim used as the Django username (default: preferred_username).
username_field = preferred_username
