{% extends "office/settings/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block settings_content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for f in form %}
            <div class="card member-form-card">
                <div class="card-header">{{ f.instance.form_title }}</div>
                <div class="card-body">
                    {% if f.encryption_enabled %}
                        {% include "office/settings/pgp_configuration_form.html" with form=f %}
                    {% else %}
                        {% bootstrap_form f layout='horizontal' %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-success" type="submit">{% trans "Save" %}</button>
    </form>
{% endblock %}
