{% extends "office/settings/base.html" %}
{% load bootstrap4 %}
{% load compress %}
{% load i18n %}
{% load staticfiles %}


{% block stylesheets %}
{{ block.super }}
{% compress css %}
<style type="text/css">
	.field-placeholder { height: 5em; background-color: #ffa;}
	#fancy-registration-form .form-group { background-color: white; }
	.available-fields, .current-fields { min-height: 2em; }
</style>
<link rel="stylesheet" type="text/css" href="{% static "vendored/jquery-ui/jquery-ui.min.css" %}"/>
{% endcompress %}
{% endblock %}

{% block scripts %}
{{ block.super }}
{% compress js %}
    <script type="text/javascript" src="{% static "vendored/jquery-ui/jquery-ui.min.js" %}"></script>
{% endcompress %}
<script type="text/javascript">
	$(function(){
		var form = $('#fancy-registration-form');
		form.prepend($.parseHTML('<div class="card my-4"><div class="card-header"><h4>{% trans "Fields currently in the registration form" %}</h4></div><div class="current-fields card-body"></div></div><div class="card my-4"><div class="card-header"><h4>{% trans "Fields not in the registration form" %}</h4></div><div class="available-fields card-body"></div></div>' ));
		var current = form.find('.current-fields');
		var avail = form.find('.available-fields');
		form.find('div.fancy-entry').each(function(i, elem){
			var elem = $(elem);
			var number_input = elem.find('.fancy-position input');
			elem.remove();
			if(number_input.val()) {
				current.append(elem);
			} else {
				avail.append(elem);
			}
			number_input.closest('.form-group').hide();

		});
		form.find('.current-fields, .available-fields').sortable({
			connectWith: ".current-fields, .available-fields",
			update: function(event, ui) {
				current.find('.fancy-position input').each(function(i, elem){
					$(elem).val(i+1);
				});
				avail.find('.fancy-position input').val('');
			},
			placeholder: 'field-placeholder',
		});
	});
</script>
{% endblock %}

{% block settings_content %}
<form method="post" id='fancy-registration-form'>
    {% csrf_token %}
    {% for field in form %}
    {% if field.name|default:""|slice:"-9:" == "_position" %}
    {% if not forloop.first %}
	</div></div>
    {% endif %}
    <div class="card fancy-entry my-2">
    	<div class="card-body">
    		<h5 class="card-title">{{field.label}}</h5>
    {% bootstrap_field field layout='horizontal' form_group_class='form-group fancy-position' %}
    {% else %}
    {% bootstrap_field field layout='horizontal' %}
    {% endif %}
    {% endfor %}
	</div></div>
    <button class="btn btn-success" type="submit">{% trans "Save" %}</button>
</form>
{% endblock %}
