{% extends "office/member/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} :: {% trans "Dashboard" %}{% endblock %}

{% block member_content %}
<div class="dashboard-list">
    <div class="dashboard-block {% if not is_active %}block-danger{% endif %}">
      <h1>
        {% if not is_active %}<strong>not</strong>{% endif %} active
      </h1>
    </div>
    <div class="dashboard-block {% if member.balance < -20 %}block-danger{% endif %}">
        <h1>
            {{ member.balance }} €
        </h1>
        <span class="dashboard-description">
            {% trans "current balance" %}
        </span>
    </div>
    {% if member.donation_balance %}
        <div class="dashboard-block">
            <h1>
                {{ member.donation_balance }} €
            </h1>
            <span class="dashboard-description">
                {% trans "donations" %}
            </span>
        </div>
    {% endif %}
    <div class="dashboard-block">
        <h1>
            {% blocktrans with count=member_since.days trimmed %}
            {{ count }} days
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% if member_since.days > 0 %}
                {% blocktrans with count=member_since.years trimmed %}
                or {{ count }} years of membership
                {% endblocktrans %}
            {% else %}
                {% blocktrans trimmed %}
                until this person becomes a member.
                {% endblocktrans %}
            {% endif %}
            <br>
            {% blocktrans with start=member_since.first.isoformat trimmed %}
                Joined on {{ start }}.
            {% endblocktrans %}
        </span>
    </div>
    <div class="dashboard-block">
      <h1>
        {{ current_membership.amount }} €
      </h1>
      <span class="dashboard-description">
        membership fee <strong>{{ current_membership.interval }}</strong>
        </span>
    </div>
</div>
{% endblock %}
