{% extends "office/member/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} :: {% trans "Finance" %}{% endblock %}

{% block member_content %}

<table class="table table-sm">
    <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th class="text-md-right">{% trans "Amount" %}</th>
            <th>{% trans "Purpose" %}</th>
            <th>{% trans "Category" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
            <tr class="transaction {% if not transaction.real_transaction %}unmatched{% endif %}">
                <td>{{ transaction.value_datetime.date }}</td>
                <td class="text-md-right{% if transaction.amount < 0 %} text-danger{% endif %}">{{ transaction.amount }}</td>
                <td>{{ transaction.real_transaction.purpose }}</td>
                <td>{{ transaction.destination_account.get_account_category_display }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include "office/pagination.html" %}
{% endblock %}
