{% extends "office/base.html" %}

{% load i18n %}

{% block content %}
<p>
<a href="{% url "office:members.add" %}" class="btn btn-primary">
    <span class="fa fa-plus"></span> {% trans "Add new member" %}
</a>
<form method="post" class="form form-inline">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">{% trans "Rebuild" %}</button>
</form>
<div class="form-group">
    <form method="get" class="form form-inline">
        <select name="filter" class="form-control">
            <option value="">{% trans "Active members" %}</option>
            <option value="inactive"{% if "inactive" == request.GET.filter %}selected{% endif %}>{% trans "Only inactive members" %}</option>
            <option value="all" {% if "all" == request.GET.filter %}selected{% endif %}>{% trans "All members" %}</option>
        </select>
        <input name="q" class="form-control" type="text" placeholder="{% trans "Search" %}"/>
        <button type="submit" class="btn btn-primary">{% trans "Filter" %}</button>
    </form>
</div>
</p>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>{% trans "Number" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Balance" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
            <tr>
                <td><a href="{% url "office:members.dashboard" pk=member.pk %}">{{ member.number }}</a></td>
                <td>{{ member.name }}</td>
                <td>{{ member.balance }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% include "office/pagination.html" %}
{% endblock %}
