{% extends "office/mails/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}
{% load formset_tags %}

{% block mail_content %}
<script type="text/javascript" src="{% static "js/jquery.formset.js" %}"></script>
<div class="form-group">
    <form method="post" action="{% url "office:mails.outbox.send" %}" class="form form-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">{% trans "Send All" %}</button>
    </form>
    <form method="post" action="{% url "office:mails.outbox.purge" %}" class="form form-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans "Discard all" %}</button>
    </form>
</div>

<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th class="table-column-large">{% trans "Subject" %}</th>
            <th class="table-column-small">{% trans "To" %}</th>
            <th class="table-column-small"></th>
        </tr>
    </thead>
    <tbody>
        {% for mail in mails %}
            <tr class="table-light">
                <td>
                    <a href="{% url "office:mails.mail.view" pk=mail.pk %}">
                        {{ mail.subject }}
                    </a>
                </td>
                <td>{{ mail.to }}</td>
                <td>
                    <a href="{% url "office:mails.mail.send" pk=mail.pk %}" class="btn btn-xs btn-primary">
                        {% trans "Send" %}
                    </a>
                    <a href="{% url "office:mails.mail.delete" pk=mail.pk %}" class="btn btn-xs btn-danger">
                        {% trans "Discard" %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
</table>
{% include "office/pagination.html" %}
{% endblock %}
