aiohttp==0.21.5
aiopg==0.9.2
alabaster==0.7.12
argh==0.26.2
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.6.0
bootstrap4==0.1.0
canonicaljson==1.1.4
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
Django==2.2.1
django-annoying==0.10.4
django-appconf==1.0.3
django-compressor==2.2
django-db-constraints==0.3.0
django-formset-js==0.5.0
django-i18nfield==1.5.0
django-jquery-js==3.1.1
django-localflavor==2.2
django-nacl-fields==2.0.0
django-select2==7.0.3
django-solo==1.1.3
docutils==0.14
frozendict==1.2
idna==2.8
imagesize==1.1.0
Jinja2==2.10.1
jsonref==0.2
livereload==2.6.1
markdown2==2.3.7
MarkupSafe==1.1.1
more-itertools==7.0.0
packaging==19.0
pathlib2==2.3.3
pathtools==0.1.2
pkg-resources==0.0.0
pluggy==0.11.0
port-for==0.3.1
psycopg2==2.6.1
py==1.8.0
pycparser==2.19
Pygments==2.4.0
PyNaCl==1.3.0
pyparsing==2.4.0
pytest==4.4.2
pytest-base-url==1.4.1
pytest-html==1.20.0
pytest-metadata==1.8.0
pytest-selenium==1.16.0
pytest-variables==1.7.1
python-dateutil==2.8.0
python-magic==0.4.15
python-stdnum==1.11
pytz==2019.1
PyYAML==3.11
ramlfications==0.1.9
rcssmin==1.0.6
requests==2.21.0
rjsmin==1.0.12
selenium==3.141.0
simplejson==3.16.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==2.0.1
sphinx-autobuild==0.7.1
sphinx-intl==0.9.11
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
SQLAlchemy==1.0.12
sqlparse==0.3.0
termcolor==1.1.0
tornado==6.0.2
urllib3==1.25.2
venusian==1.0
watchdog==0.9.0
xmltodict==0.12.0
