recursive-include byro/locale *
recursive-include byro/static *
recursive-include byro/common/templates *
recursive-include byro/office/templates *
recursive-include byro/public/templates *
global-exclude *.py[co]
global-exclude __pycache__
