.dashboard-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.dashboard-block {
    flex: 1 0 auto;
    align-self: stretch;
    padding: 15px 5px;
    border: 5px solid white;
    min-height: 160px;
    width: 340px;
    background: $brand-lightest;
    &:hover {
        text-decoration: none;
    }

    h1 {
        display: block;
        opacity: 0.5;
        padding: 10px 0 10px;
        text-align: center;
        font-size: 30px;
    }
    .dashboard-description {
        display: block;
        text-align: center;
        padding-left: 8px;
        padding-right: 8px;
    }
    &.block-danger {
        background: $brand-danger;
    }
}
