.login-form {
    form {
        margin-left: auto;
        margin-right: auto;
    }
    button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 4px;
    }
}

form .form-group {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
form button {
    margin-left: calc(25% + 8px);
}
.member-form-card {
    margin-bottom: 14px;
}
.help-block {
    color: #868e96;
    font-size: 14px;
    padding-top: 4px;
}
.inline-form {
    display: flex;
    flex-direction: row;

    div, button {
        margin: 4px;
    }
}
.table-column-small {
    width: 10%;
}
.table-column-medium {
    width: 25%;
}
.table-column-large {
    width: 35%;
}
