$theme-colors: (
    primary: #00C853,
    secondary: #FFD740,
    success: #00C853,
    info: #00B8D4,
    warning: #FFD740,
    danger: #FF6E40,
    light: #f8f9fa,
    dark: #343a40
);

$primary-lighter: #B9F6CA;
$primary-lightest: #E8F5E9;
$enable-rounded: false;
