name: Tests

on:
  push:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'
      - 'src/byro/locale/**'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'
      - 'src/byro/locale/**'

jobs:
  test:
    runs-on: ubuntu-latest
    name: Tests
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10']
        database: [sqlite, postgres, mysql]
        exclude:
          - database: mysql
            python-version: '3.9'
          - database: sqlite
            python-version: '3.9'
          - database: mysql
            python-version: '3.10'
          - database: sqlite
            python-version: '3.10'
    steps:
      - uses: actions/checkout@v2
      - uses: getong/mariadb-action@v1.1
        with:
          mariadb version: '10.6'
          mysql database: 'byro'
          mysql root password: ''
        if: matrix.database == 'mysql'
      - uses: harmon758/postgresql-action@v1
        with:
          postgresql version: '14'
          postgresql db: 'byro'
          postgresql user: 'postgres'
          postgresql password: 'postgres'
        if: matrix.database == 'postgres'
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2.3.2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v2.1.7
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.py') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install gettext mariadb-client
      - name: Install Python dependencies
        run: pip3 install -Ue "src[dev]" --no-use-pep517
      - name: Install MySQL dependencies
        run: pip3 install -Ue "src[mysql]" --no-use-pep517
        if: matrix.database == 'mysql'
      - name: Install Postgres dependencies
        run: pip3 install -Ue "src[postgres]" --no-use-pep517
        if: matrix.database == 'postgres'
      - name: Run checks
        run: python manage.py check --deploy
        working-directory: ./src
      - name: Compile locales
        run: python manage.py compilemessages
        working-directory: ./src
      - name: Run tests
        working-directory: ./src
        run: BYRO_CONFIG_FILE=tests/byro.${{ matrix.database }}.cfg py.test --cov=./ --cov-report=xml tests --maxfail=100
      - name: Upload coverage
        uses: codecov/codecov-action@v2
        with:
          files: src/coverage.xml
          fail_ci_if_error: true
        if: matrix.database == 'postgres' && matrix.python-version == '3.10'
